.pay{
    list-style: none;
    display:inline-block;
    text-align: right;
}
form ul li {
    margin: 5px 0;
        }

.tabs-menu{
    display: block; 
    width: 100%;
    text-align: center;
}

.pills-menu{
     text-align: center;
}

.nav-pills > li {
    float:none;
    display:inline-block;
}

.tab-content{
    padding-top: 25px;
}
.ship{
     list-style: none;
    display:inline-block;
    text-align: right;
}
.buttonShip{
    text-align: center;
}
.buttonBill{
    text-align: center;
}