.pay{
    list-style: none;
    display:inline-block;
    text-align: right;
}
form ul li {
    margin: 5px 0;
        }

.tabs-menu{
    display: block; 
    width: 100%;
    text-align: center;
}

.pills-menu{
     text-align: center;
}

.nav-pills > li {
    float:none;
    display:inline-block;
}

.tab-content{
    padding-top: 25px;
}
.ship{
     list-style: none;
    display:inline-block;
    text-align: right;
}
.buttonShip{
    text-align: center;
}
.buttonBill{
    text-align: center;
}
.shipping{
    box-shadow: 
        0px 0px 0px 5px rgba( 255,255,255,0.4 ), 
        0px 4px 20px rgba( 0,0,0,0.33 );
	padding-left:10px;
	width:45%;
	height:400px;
	display:inline-block;
}

.login{
     box-shadow: 
        0px 0px 0px 5px rgba( 255,255,255,0.4 ), 
        0px 4px 20px rgba( 0,0,0,0.33 );
	padding-left:10px;
    padding-top: 20px;
	width:27%;
	height:160px;
	display:inline-block;
}

.payment{
         box-shadow: 
        0px 0px 0px 5px rgba( 255,255,255,0.4 ), 
        0px 4px 20px rgba( 0,0,0,0.33 );
	padding-left:10px;
    padding-right:12px;
    padding-top: 20px;
	width:50%;
	height:170px;
	display:inline-block;
}