.pay{
    list-style: none;
    display:inline-block;
    text-align: right;
}
form ul li {
    margin: 5px 0;
        }

.tabs-menu{
    display: block; 
    width: 100%;
    text-align: center;
}

.pills-menu{
     text-align: center;
}

.nav-pills > li {
    float:none;
    display:inline-block;
}

.tab-content{
    padding-top: 25px;
}
.ship{
     list-style: none;
    display:inline-block;
    text-align: right;
}
.buttonShip{
    text-align: center;
}
.buttonBill{
    text-align: center;
}
.shipping{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color:RGB(241, 233, 210);
	padding-left:10px;
	width:35%;
	height:400px;
	display:inline-block;
}

.login{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color:RGB(241, 233, 210);
	padding-left:10px;
    padding-top: 20px;
	width:27%;
	height:160px;
	display:inline-block;
}

.payment{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color:RGB(241, 233, 210);
	padding-left:10px;
    padding-right:12px;
    padding-top: 20px;
	width:35%;
	height:170px;
	display:inline-block;
}

.login-button{
    text-align: right;
}