.thanks
{box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
background-color:RGB(241, 233, 210);
padding-left:10px;
width:35%;
height:400px;
display:inline-block;
text-align: center;
    margin:0 auto;}

.logo2{
    margin:0 auto;
    height:50%;
    width: 50%;
}