.container-login {
	margin: 50px auto;
	width: 440px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color:RGB(241, 233, 210);
}

.login{
	position: relative;
	margin: 0 auto;
	padding: 20px 20px 20px;
    text-align: center;
}

.login p.submit {
	text-align: right;
}

.login-submit-button{
    display: block; 
    width: 100%;
}

.forgot-submit-button {
	display: block; 
    width: 100%;
    background-color:firebrick;
    color:white;
    margin-bottom: 20px;
}

.register-submit-button{
    display: block; 
    width: 100%;
    color:white;
    margin-bottom: 20px;
}

.forgot-login a{
	color: blue;
	text-decoration: none;
}

.forgot-login a:hover{
	text-decoration: underline;
}
:-moz-placeholder{
	color: #c9c9c9 !important;
	font-size: 13px;
}
::-webkit-input-placeholder {
	color: #ccc;
	font-size: 13px;
}

.login:before {
	content: '';
	position: absolute;
	top: -8px;
	right: -8px;
	bottom: -8px;
	left: -8px;
	z-index: -1;
	border-radius: 4px;
}
.login h1{
	margin: -20px -20px 21px;
	line-height: 40px;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
    color:white;
	background-color: tan;
}
.login p{
	margin: 20px 0 0;
}
.login p:first-child{
	margin-top:0;
}
.login input[type=email], .login input[type=password]{
	width: 278px;
}
.login p.remember{
	float: left;
	line-height: 31px;
}
.login p.remember label{
	font-size: 12px;
	color: #777;
	cursor: pointer;
}
.login p.remember input {
	position: relative;
	bottom: 1px;
	margin-right: 4px;
	vertical-align: middle;
}

input {
  font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
  font-size: 14px;
}
 
input[type=email], input[type=password] {
  margin: 5px;
  padding: 0 10px;
  width: 200px;
  height: 34px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color:burlywood;
  border-radius: 2px;
  outline: 5px solid burleywood;
  -moz-outline-radius: 3px;
}
 
input[type=email]:focus, input[type=password]:focus {
  border-color: saddlebrown;
  outline-color: saddlebrown;
  outline-offset: 0;
}
 
input[type=submit] {
  padding: 0 18px;
  height: 29px;
  font-size: 12px;
  font-weight: bold;
  color: #527881;
  background: #cde5ef;
  border: 1px solid;
  border-color: #b4ccce #b3c0c8 #9eb9c2;
  border-radius: 16px;
  outline: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
 
}
input[type=submit]:active {
  background: #cde5ef;
  border-color: #9eb9c2 #b3c0c8 #b4ccce;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}
input[type=checkbox],
input[type=radio] {
border: 1px solid #c0c0c0;
margin: 0 0.1em 0 0;
padding: 0;
font-size: 16px;
line-height: 1em;
width: 1.25em;
height: 1.25em;
background: #fff;
-webkit-appearance: none;
-webkit-border-radius: 0.25em;
vertical-align: text-top;
display: inline-block;
 
}
 
input[type=radio] {
-webkit-border-radius: 2em; /* Make radios round */
}
 
input[type=checkbox]:checked::after {
content:"X";
display:block;
text-align: center;
font-size: 16px;
height: 16px;
line-height: 18px;
}
 
select {
    border: 1px solid #D0D0D0;
    color: #444;
}
body {
  font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
  background: white;
}


