body{
	padding-left:10px;
	padding-right:40px;
}
.books{
	width: 250px;
}
.des{
	width: 300px;
	
}

.shopping-cart{
	text-align: center;
}
.price{
width: 100px;
text-align:center;
}
.option{
width: 150px;
text-align:right;
}
.sep {
    height: 1px;
    background: #e8e8e8;
    width: 406px;
    margin: 0px -25px;
}



.checkout{
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	background-color:RGB(241, 233, 210);
	width:30%;
	float:right;
	height:400px;
	display:inline-block;
	padding:20px;
}
.cart{
	display:inline-block;
	width:70%;
	float:left;
}

.defMoney{
	width:300px;
}
.item{
	padding-left:30px;
	padding-bottom:10px;
}

tr.shopBook > td{
	padding-bottom:20px;
}

.shopHeaders{
	font-size:20px;
	color: black;
}
.title{
	padding-bottom:10px;
}